<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../src/img/white_logo.PNG" type="image/x-icon">
    <title>SOBRE NÓS | KAYA</title>
    <link rel="stylesheet" href="../src/css/global.css">
    <link rel="stylesheet" href="../src/css/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
<header id="header">
    <!-- O conteúdo do cabeçalho será carregado aqui -->
</header>
<main>
    <div class="inner-title">
        <h2>Sobre Nós</h2>
    </div>

    <div class="about">
        <div class="about-line">
            <h3>Bem-vindo ao <orange>KAYA</orange></h3>
            <p>
                Bem-vindo ao KAYA! Somos um projeto inovador desenvolvido durante o curso de Engenharia de Software na Faculdade Católica de Santa Catarina. Nossa missão é proporcionar uma experiência única na descoberta de eventos locais, combinando os conceitos de UI (User Interface) e UX (User Experience) com a programação web. No KAYA, acreditamos que a forma como você interage com a tecnologia deve ser intuitiva e agradável, por isso, nossa equipe dedicou-se a criar uma plataforma que seja tanto funcional quanto esteticamente agradável.
            </p>
        </div>
        <div class="about-line">
            <h3>Encontre Eventos Que Combinam com Sua <i><orange>VIBE</orange></i></h3>
            <p>
                O KAYA foi concebido com o intuito de conectar você aos eventos que melhor se alinham com a sua "vibe". Queremos que você encontre facilmente festas, shows, bares, restaurantes e eventos musicais na sua região, tudo de acordo com suas preferências e interesses. Nosso objetivo é tornar a busca por entretenimento mais simples e personalizada, garantindo que você tenha acesso às melhores opções disponíveis sem perder tempo.
            </p>
        </div>
        <div class="about-line">
            <h3>Design e Experiência do Usuário em <orange>PRIMEIRO LUGAR</orange></h3>
            <p>
                Durante o desenvolvimento do KAYA, nos aprofundamos no estudo de design de interfaces e experiências do usuário, aplicando esses conhecimentos para criar uma plataforma que realmente atende às necessidades dos nossos usuários. Cada detalhe foi cuidadosamente planejado para garantir que a navegação no site seja fluida e que as informações sejam apresentadas de forma clara e atrativa. Nosso compromisso é oferecer uma ferramenta que não só facilite a busca por eventos, mas que também torne essa experiência prazerosa.
            </p>
        </div>
        <div class="about-line">
            <h3>Compromisso com a <orange>EXCELÊNCIA</orange> e o <orange>FEEDBACK</orange> dos Usuários</h3>
            <p>
                Estamos orgulhosos do resultado alcançado e acreditamos que o KAYA tem o potencial de transformar a maneira como você descobre eventos na sua região. Nossa equipe está sempre aberta a feedback e sugestões, pois queremos continuar aprimorando nossa plataforma para atender cada vez melhor às suas expectativas. Obrigado por visitar o KAYA e esperamos que você aproveite ao máximo tudo o que nossa plataforma tem a oferecer.
            </p>
        </div>
    </div>

</main>
<footer id="footer"></footer>
<script src="../src/js/headerANDfooter.js"></script>
<script src="../src/js/scriptAbout.js"></script>
</body>
</html>
