<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../src/img/white_logo.PNG" type="image/x-icon">
    <title>CRIAR</title>
    <link rel="stylesheet" href="../src/css/global.css">
    <link rel="stylesheet" href="../src/css/aboutEvent.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
<!-- Navegação -->
<header id="header">
    <!-- O conteúdo do cabeçalho será carregado aqui -->
</header>
<!-- Conteúdo -->
<main>
    <div class="about-eve">
        <div class="inner-title">
            <h2>Sobre o Evento</h2>
        </div>
        <form action="profile.html">
            <div class="about-info">
                <h3>BAR DA LORA</h3>
                <img src="../src/img/events/eventbardalora.jpg" alt="bar da Lora">
                <div class="local">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="info">
                        <b>Local:</b>
                        <a>Claudemiro de Moraes - Macapá (AP)</a>
                    </div>
                </div>
                <div class="date">
                    <i class="fas fa-calendar"></i>
                    <div class="info">
                        <b>Data:</b>
                        <a>Todos os dias</a>
                    </div>
                </div>
                <div class="time">
                    <i class="fas fa-clock"></i>
                    <div class="info">
                        <b>Horário:</b>
                        <a>00:00h</a>
                    </div>
                </div>
                <div class="cate">
                    <i class="fa-solid fa-tag"></i>
                    <div class="info">
                        <b>Categoria:</b>
                        <a>Bar</a>
                    </div>
                </div>
                <div class="age">
                    <i>18+</i>
                    <div class="info">
                        <b>Classificação:</b>
                        <a>Exclusivo 18+</a>
                    </div>
                </div>
                <div class="ticket">
                    <i class="fas fa-ticket-alt"></i>
                    <div class="info">
                        <b>Ingresso:</b>
                        <a>Entrada de 1,99</a>
                    </div>
                </div> 
                <div class="obs">
                    <b>Observações do Criador:</b>
                    <p>
                        Venha comer um delicioso arroz à grelo e esperimentar receitinhas e bebidinhas únicas!
                    </p>
                </div>
                <input type="submit" value="SALVAR">
                <input type="button" value="VOLTAR">
            </div>
        </form>
    </div>
</main>
<!-- Rodapé -->
<footer id="footer"></footer>
<script src="../src/js/headerANDfooter.js"></script>
<script src="../src/js/scriptCreate.js"></script>
</body>
</html>