<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../src/img/white_logo.PNG" type="image/x-icon">
    <title>CRIAR</title>
    <link rel="stylesheet" href="../src/css/global.css">
    <link rel="stylesheet" href="../src/css/create.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<!-- Navegação -->
<header id="header">
    <!-- O conteúdo do cabeçalho será carregado aqui -->
</header>
<!-- Conteúdo -->
<main>
    <div class="create">
        <div class="inner-title-2">
            <h3>CRIE SEU PRÓPRIO</h3><h2><orange>EVENTO</orange></h2>
        </div>
        <form action="profile.html">
            <div class="create-info">
                <div class="creare-left">
                    <div class="create-input">
                        <label for="name">Nome do evento</label>
                        <input type="text" id="name" name="name" placeholder="Ex: Meu Evento" required>
                    </div>
    
                    <div class="create-img">
                        <input type="file" name="img1" id="img1" class="file-input">
                        <label for="img1" class="file-label">
                            CLIQUE AQUI PARA ADICIONAR UMA IMAGEM DE CAPA
                        </label>
                    </div>
    
                    <div class="create-check">
                        <input type="checkbox" name="ticket" value="">
                        <label type="checkbox" for="ticket">É necessário Ticket / Ingresso</label>
                    </div>
                    <div class="create-check">
                        <input type="checkbox" name="free" value="">
                        <label type="checkbox" for="free">Entrada franca</label>
                    </div>
    
                    <div class="create-line">
                        <div class="create-input">
                            <label for="price" name="price">Valor *</label>
                            <input type="number" id="price" name="price" placeholder="Ex: R$ 40,00" required>
                        </div>
                        <div class="create-input">
                            <label for="conditional">Especiais</label>
                            <input type="text" id="conditional" name="conditional" placeholder="Ex: MEIA - R$ 20,00" required>
                        </div>
                    </div>
                </div>
                <div>
                    <!-- OU -->
                </div>
                <div class="create-right">
                    <div class="create-input">
                        <label for="local">Localização</label>
                        <span><i></i></span>
                        <input type="text" id="local" name="local" placeholder="Ex: Rua da Cidade, Centro - 23" required>
                    </div>
                    <div class="create-input">
                        <label for="date">Data</label>
                        <span><i></i></span>
                        <input type="date" id="date" name="date" placeholder="..." required>
                    </div>
                    <div class="create-input">
                        <label for="time">Horário</label>
                        <span><i></i></span>
                        <input type="time" id="time" name="time" placeholder="..." required>
                    </div>
                    <div class="create-select">
                        <label for="category">Categoria</label>
                        <select name="category" id="categpry">
                            <option value="1">(Selecione uma categoria)</option>
                            <option value="2">Categoria 2</option>
                            <option value="3">Categoria 3</option>
                            <option value="4">Categoria 4</option>
                        </select>
                    </div>
                    <div class="create-textarea">
                        <label for="desc">Descrição</label>
                        <textarea name="desc" id="desc" placeholder="Conte um pouco mais sobre seu evento!" required></textarea>
                    </div>
                </div>
            </div>
            <div class="create-info">
                <input type="submit" name="CRIAR" id="criar" value="CRIAR NOVO EVENTO">
                <a>OU</a>
                <input type="button" value="CANCELAR E VOLTAR" onclick="">
            </div>
        </form>
    </div>
</main>
<!-- Rodapé -->
<footer>
    <div class="footer">
        <div class="footer-logo">
            <img src="../src/img/white_logo.PNG" alt="KAYA" title="KAYA" width="80" height="80">
        </div>
        <div class="footer-list">
            <ul>
                <li class="footer-item"><a class="footer-link" href="#">INÍCIO</a></li>
                <li class="footer-item"><a class="footer-link" href="#">EVENTOS</a></li>
                <li class="footer-item"><a class="footer-link" href="#">CRIAR</a></li>
                <li class="footer-item"><a class="footer-link" href="#">PERFIL</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <ul>
                <li class="footer-item"><a class="footer-link" href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li class="footer-item"><a class="footer-link" href="#"><i class="fab fa-instagram"></i></a></li>
                <li class="footer-item"><a class="footer-link" href="#"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </div>
        <div class="footer-credits">
            <p>© 2024 KAYA. Todos os direitos reservados.</p>
        </div>
    </div>
</footer>

<script src="../src/js/scriptCreate.js"></script>
<script>
    fetch('template/headerView.html')
        .then(response => response.text())
        .then(html => {
            // Insira o conteúdo do cabeçalho no elemento com id "header"
            document.getElementById('header').innerHTML = html;
        })
        .catch(error => console.error('Erro ao carregar o cabeçalho:', error));
</script>
<script>
    document.getElementById('img1').addEventListener('change', function() {
        const fileName = this.files[0].name;
        document.querySelector('.file-label').textContent = fileName;
    });
</script>
</body>
</html>