<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../src/img/white_logo.PNG" type="image/x-icon">
    <title>CRIAR</title>
    <link rel="stylesheet" href="../src/css/global.css">
    <link rel="stylesheet" href="../src/css/create.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="inner-title-2">
        <h3>CRIE SEU PRÓPRIO</h3><br><h2><orange>EVENTO</orange></h2>
    </div>
    <div class="block">
        <h1>Crie seu evento</h1>
        <form action="profile.html">
            <div class="block-left">

            </div>
            <div class="block-right">

            </div>
            <label for="name">Nome do evento</label><br>
            <input type="text" id="name" name="name" placeholder="..." required><br>
            <label for="desc">Descrição</label><br>
            <input type="text" id="name" name="name" placeholder="..." required><br>
            <label for="desc">Local</label><br>
            <input type="text" id="name" name="name" placeholder="..." required><br>
            <label for="desc">Dia e Hora</label><br>
            <input type="datetime-local" id="name" name="name" placeholder="..." required><br>
            <label for="img">Envie 4 imagens para anunciar seu evento</label><br>
            <input type="file" name="img1" id="img1">
            <input type="file" name="img1" id="img1"><br>
            <input type="file" name="img1" id="img1">
            <input type="file" name="img1" id="img1"><br>
            <input type="submit" name="CRIAR" id="criar">
        </form>
    </div>
</body>
</html>