<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Container de Cards</title>
    <link rel="stylesheet" href="../src/css/global.css">
    <link rel="stylesheet" href="../src/css/events.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<!-- Navegação -->
<header id="header"></header>
<!-- Conteúdo -->
<main>
    <!-- Título da Página -->
    <div class="inner-title">
        <h2>Eventos</h2>
    </div>
    <!-- Categorias -->
    <div class="categories">
        <div class="categories-background">
            <div class="categories-title">
                <h2>Qual é a sua vibe <orange>hoje?</orange></h2>
            </div>
            <div class="cat-cards">
                <!-- Categoria 1 -->
                <div class="cat-card">
                    <a href="#s-beer">
                        <div class="cat-img">
                            <img src="../src/img/catogories/beer.png" alt="cat1" title="cat1">
                        </div>
                        <h2>Bares</h2>
                    </a>
                </div>
                <!-- Categoria 2 -->
                <div class="cat-card">
                    <a href="#">
                        <div class="cat-img">
                            <img src="../src/img/catogories/show.png" alt="cat2" title="cat2">
                        </div>
                        <h2>Shows</h2>
                    </a>
                </div>
                <!-- Categoria 3 -->
                <div class="cat-card">
                    <a href="#">
                        <div class="cat-img">
                            <img src="../src/img/catogories/trip.png" alt="cat3" title="cat3">
                        </div>
                        <h2>Viagens</h2>
                    </a>
                </div>
                <!-- Categoria 4 -->
                <div class="cat-card">
                    <a href="#">
                        <div class="cat-img">
                            <img src="../src/img/catogories/food.png" alt="cat4" title="cat4">
                        </div>
                        <h2>Culinária</h2>
                    </a>
                </div>
                <!-- Categoria 5 -->
                <div class="cat-card">
                    <a href="#">
                        <div class="cat-img">
                            <img src="../src/img/catogories/more.png" alt="cat5" title="cat5">
                        </div>
                        <h2>Outros</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Eventos - nova versão, adaptado -->
    <div class="category-container">
        <section class="category-section" id="s-beer">
            <h2>Bares</h2>
            <div class="cards-container">
                <!-- Card 1 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/event01.png" alt="Imagem">
                            <span class="event-category" id="beer">Bar</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">BAR DO PEDRIN</h3>
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="event-address">Esquina da Boa - Joinville (SC)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">Todos os dias</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">12:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">Grátis</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Card 2 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/eventbardalora.jpg" alt="Imagem">
                            <span class="event-category" id="beer">Bar</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">BAR DA LORA</h3>
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="event-address">Claudomiro de Moraes - Macapá (AP)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">Todos os dias</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">00:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">R$ 1,99</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Card 3 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/event01.png" alt="Imagem">
                            <span class="event-category" id="beer">Bar</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">ELECTRO NIGHT</h3>
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="event-address">Square Garden - Joinville (SC)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">22/10/2024</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">22:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">R$ 20,00</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="navigation-buttons">
                <button class="prev"><i class="fas fa-chevron-left"></i></button>
                <button class="next"><i class="fas fa-chevron-right"></i></button>
            </div>
        </section>
        <section class="category-section" id="s-beer">
            <h2>Bares</h2>
            <div class="cards-container">
                <!-- Card 1 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/event01.png" alt="Imagem">
                            <span class="event-category" id="music">Música</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">ELECTRO NIGHT</h3>
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="event-address">Square Garden - Joinville (SC)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">22/10/2024</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">22:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">R$ 20,00</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Card 2 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/event01.png" alt="Imagem">
                            <span class="event-category" id="music">Música</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">ELECTRO NIGHT</h3>
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="event-address">Square Garden - Joinville (SC)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">22/10/2024</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">22:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">R$ 20,00</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Card 3 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/event01.png" alt="Imagem">
                            <span class="event-category" id="music">Música</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">ELECTRO NIGHT</h3>
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="event-address">Square Garden - Joinville (SC)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">22/10/2024</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">22:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">R$ 20,00</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Card 4 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/event01.png" alt="Imagem">
                            <span class="event-category" id="music">Música</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">ELECTRO NIGHT</h3>
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="event-address">Square Garden - Joinville (SC)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">22/10/2024</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">22:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">R$ 20,00</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Card 5 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/event01.png" alt="Imagem">
                            <span class="event-category" id="music">Música</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">ELECTRO NIGHT</h3>
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="event-address">Square Garden - Joinville (SC)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">22/10/2024</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">22:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">R$ 20,00</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Card 6 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/event01.png" alt="Imagem">
                            <span class="event-category" id="music">Música</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">ELECTRO NIGHT</h3>
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="event-address">Square Garden - Joinville (SC)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">22/10/2024</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">22:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">R$ 20,00</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="navigation-buttons">
                <button class="prev"><i class="fas fa-chevron-left"></i></button>
                <button class="next"><i class="fas fa-chevron-right"></i></button>
            </div>
        </section>
        <section class="category-section" id="s-beer">
            <h2>Bares</h2>
            <div class="cards-container">
                <!-- Card 1 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/event01.png" alt="Imagem">
                            <span class="event-category" id="music">Música</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">ELECTRO NIGHT</h3>
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="event-address">Square Garden - Joinville (SC)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">22/10/2024</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">22:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">R$ 20,00</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Card 2 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/event01.png" alt="Imagem">
                            <span class="event-category" id="music">Música</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">ELECTRO NIGHT</h3>
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="event-address">Square Garden - Joinville (SC)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">22/10/2024</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">22:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">R$ 20,00</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Card 3 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/event01.png" alt="Imagem">
                            <span class="event-category" id="music">Música</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">ELECTRO NIGHT</h3>
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="event-address">Square Garden - Joinville (SC)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">22/10/2024</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">22:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">R$ 20,00</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="navigation-buttons">
                <button class="prev"><i class="fas fa-chevron-left"></i></button>
                <button class="next"><i class="fas fa-chevron-right"></i></button>
            </div>
        </section>
    </div>
</main>
<!-- Rodapé -->
<footer id="footer"></footer>
<!-- Scripts -->
<script src="../src/js/headerANDfooter.js"></script>
<script src="../src/js/scriptEvents.js"></script>
</body>
</html>
