<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Container de Cards</title>
    <link rel="stylesheet" href="../src/css/global.css">
    <link rel="stylesheet" href="../src/css/events.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<!-- Navegação -->
<header id="header"></header>
<!-- Conteúdo -->
<main>
    <!-- Título da Página -->
    <div class="inner-title">
        <h2>Eventos</h2>
    </div>
    
    <!-- Categorias -->
    <div id="categories"></div>

    <!-- Eventos - nova versão, adaptado -->
    <div class="category-container">
        <section class="category-section" id="s-beer">
            <h2>Bares</h2>
            <div class="cards-container">
                <!-- Card 1 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/eventbardopedrin.jpg" alt="Imagem">
                            <span class="event-category" id="beer">Bar</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">BAR DO PEDRIN</h3>
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="event-address">Esquina da Boa - Joinville (SC)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">Todos os dias</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">12:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">Grátis</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Card 2 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/eventbardalora.jpg" alt="Imagem">
                            <span class="event-category" id="beer">Bar</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">BAR DA LORA</h3>
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="event-address">Claudomiro de Moraes - Macapá (AP)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">Todos os dias</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">00:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">R$ 1,99</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Card 3 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/eventbarchic.jpg" alt="Imagem">
                            <span class="event-category" id="beer">Bar</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">BEER AND CHEARS</h3>
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="event-address">OPA! - Joinville (SC)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">22/10/2024</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">22:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">R$ 70,00</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Card 4 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/event03.jpg" alt="Imagem">
                            <span class="event-category" id="beer">Bar</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">BEER DAY!</h3>
                                <!-- <span class="event-time">22:00h</span> -->
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span id="" class="event-address">Bar do Jorjão - Joinville (SC)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">22/10/2024</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">22:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">R$ 20,00</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="navigation-buttons">
                <button class="prev"><i class="fas fa-chevron-left"></i></button>
                <button class="next"><i class="fas fa-chevron-right"></i></button>
            </div>
        </section>
        <section class="category-section" id="s-shows">
            <h2>Shows</h2>
            <div class="cards-container">
                <!-- Card 1 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/event01.png" alt="Imagem">
                            <span class="event-category" id="show">SHOW</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">ELECTRO NIGHT</h3>
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="event-address">Square Garden - Joinville (SC)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">22/10/2024</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">22:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">R$ 20,00</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Card 2 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/event02.jpg" alt="Imagem">
                            <span class="event-category" id="show">SHOW</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">FESTA JULINA</h3>
                                <!-- <span class="event-time">22:00h</span> -->
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span id="" class="event-address">Galpão da Roça - Joinville (SC)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">22/07/2024</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">14:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">GRÁTIS</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Card 3 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/event04.jpg" alt="Imagem">
                            <span class="event-category" id="show">SHOW</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">EMF: DJ Hardwall</h3>
                                <!-- <span class="event-time">22:00h</span> -->
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span id="" class="event-address">Casa dos Showsszaços - Joinville (SC)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">22/10/2024</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">22:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">R$ 20,00</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Card 4 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/event07.jpg" alt="Imagem">
                            <span class="event-category" id="show">SHOW</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">Y2K Fashion Shows</h3>
                                <!-- <span class="event-time">22:00h</span> -->
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span id="" class="event-address">Fachion Feshê - São Paulo (SP)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">22/10/2024</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">22:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">R$ 20,00</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="navigation-buttons">
                <button class="prev"><i class="fas fa-chevron-left"></i></button>
                <button class="next"><i class="fas fa-chevron-right"></i></button>
            </div>
        </section>
        <section class="category-section" id="s-trip">
            <h2>Viagens</h2>
            <div class="cards-container">
                <!-- Card 1 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/event05.jpg" alt="Imagem">
                            <span class="event-category" id="trip">Viagem</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">Summer Vibes: Nosso Verão</h3>
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span id="" class="event-address">Enseada - São Francisco do Sul (SC)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">01/12/2024</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">10:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">GRÁTIS</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Card 2 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/eventaqua.jpg" alt="Imagem">
                            <span class="event-category" id="trip">Viagem</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">AQUAPARK - MELHORES FÉRIAS!</h3>
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="event-address">Esquina da água - São Paulo (SP)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">09/11/2024</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">09:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">R$ 20,00</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Card 3 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/eventsnow.jpg" alt="Imagem">
                            <span class="event-category" id="trip">Viagem</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">SNOWPARK - Gostinho do Frio</h3>
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="event-address">Morro Gelado - Urupema (SC)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">05/07/2024</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">06:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">R$ 100,00</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="navigation-buttons">
                <button class="prev"><i class="fas fa-chevron-left"></i></button>
                <button class="next"><i class="fas fa-chevron-right"></i></button>
            </div>
        </section>
        <section class="category-section" id="s-food">
            <h2>Culinária</h2>
            <div class="cards-container">
                <!-- Card 1 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/event06.jpg" alt="Imagem">
                            <span class="event-category" id="food">Culinária</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">HEALTHY HAPPY LIFE</h3>
                                <!-- <span class="event-time">22:00h</span> -->
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span id="" class="event-address">Restaurant Chiqué - Florianópolis (SC)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">22/10/2024</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">22:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">R$ 20,00</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Card 2 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/eventcucas.jpg" alt="Imagem">
                            <span class="event-category" id="food">Culinária</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">Festival de Cucas</h3>
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="event-address">Terminal Central - Joinville (SC)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">16/06/2024</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">08:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">Grátis</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Card 3 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/eventsushi.jpg" alt="Imagem">
                            <span class="event-category" id="food">Culinária</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">Sushi Show</h3>
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="event-address">Sushiaki - Joinville (SC)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">Todos os dias</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">19:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">R$ 70,00</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Card 4 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/eventpinhao.jpg" alt="Imagem">
                            <span class="event-category" id="food">Culinária</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">Festa do Pinhão</h3>
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="event-address">Campo Bom - Lages (SC)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">08/07/2024</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">15:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">R$ 29,99</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="navigation-buttons">
                <button class="prev"><i class="fas fa-chevron-left"></i></button>
                <button class="next"><i class="fas fa-chevron-right"></i></button>
            </div>
        </section>
        <section class="category-section" id="s-others">
            <h2>Outros</h2>
            <div class="cards-container">
                <!-- Card 1 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/event08.jpg" alt="Imagem">
                            <span class="event-category" id="others">Outros</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">Corrida Clube</h3>
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span id="" class="event-address">Parque do Orvalho - Xuxu (AB)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">03/08/2024</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">07:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">R$ 10,00</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Card 2 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/eventtec.jpg" alt="Imagem">
                            <span class="event-category" id="others">Outros</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">CURSO DE INFORMÁTICA</h3>
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="event-address">Faculdade Católica - Joinville (SC)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">22/06/2024</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">09:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">Grátis</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Card 3 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/eventpet.jpg" alt="Imagem">
                            <span class="event-category" id="others">OUTROS</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">Adote um Amigo! :)</h3>
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="event-address">Parque Bonitinho - Joinville (SC)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">09/07/2024</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">10:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">Grátis</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Card 4 -->
                <div class="event-card">
                    <a href="#">
                        <div class="event-img">
                            <img src="../src/img/events/eventchoche.jpg" alt="Imagem">
                            <span class="event-category" id="others">OUTROS</span>
                        </div>
                        <div class="event-info">
                            <div class="event-info-header">
                                <h3 class="event-title">Curso de Crochê</h3>
                            </div>
                            <div class="event-location">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="event-address">Casa da Vó - Lalavila (AZ)</span>
                            </div>
                            <div class="event-info-footer">
                                <div class="event-f1">
                                    <div class="event-f-l">
                                        <i class="fas fa-calendar"></i>
                                        <span class="event-date">20/07/2024</span>
                                    </div>
                                    <div class="event-f-l">
                                        <i class="fas fa-clock"></i>
                                        <span class="event-time">13:00h</span>
                                    </div>
                                </div>
                                <div class="event-f2">
                                    <i class="fas fa-ticket-alt"></i>
                                    <span class="event-price">R$ 15,00</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="navigation-buttons">
                <button class="prev"><i class="fas fa-chevron-left"></i></button>
                <button class="next"><i class="fas fa-chevron-right"></i></button>
            </div>
        </section>
    </div>
</main>
<!-- Rodapé -->
<footer id="footer"></footer>
<!-- Scripts -->
<script src="../src/js/headerANDfooter.js"></script>
<script src="../src/js/scriptEvents.js"></script>
</body>
</html>
