<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../src/img/white_logo.PNG" type="image/x-icon">
    <title>RECUPERAR SENHA</title>
    <!-- <link rel="stylesheet" href="../src/css/create.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="block">
        <h1>Recupere sua senha</h1>
        <form>
            <label for="name">E-mail</label><br>
            <input type="text" id="name" name="name" placeholder="..." required><br>
            <label for="desc">Última senha que lembra</label><br>
            <input type="text" id="name" name="name" placeholder="..." required><br>
            <input type="submit" name="CRIAR" id="criar">
        </form>
    </div>
<script src="../src/js/scriptForgot.js"></script>
</body>
</html>