<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../src/img/white_logo.PNG" type="image/x-icon">
    <title>SUPORTE</title>
    <link rel="stylesheet" href="../src/css/global.css">
    <link rel="stylesheet" href="../src/css/help.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
<!-- Navegação -->
<header id="header"></header>
<!-- Conteúdo -->
<main>
    <!-- Título da Página -->
    <div class="inner-title">
        <h2>Suporte</h2>
    </div>
    <div class="help">
        <form action="../../index.html">
            <div class="help-info">
                <h3>Entre em contato conosco!</h3>
                <div class="help-input">
                    <label for="name">Nome</label>
                    <input type="text" id="name" name="name" placeholder="Ex: João da Silva" required>
                </div>
                <div class="help-input">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" placeholder="Ex: email@email.com" required>
                </div>
                <div class="help-input">
                    <label for="subject">Assunto</label>
                    <input type="text" id="subject" name="subject" placeholder="Ex: Dúvida sobre o evento" required>
                </div>
                <div class="help-input">
                    <label for="message">Mensagem</label>
                    <textarea id="message" name="message" placeholder="Digite sua mensagem" required></textarea>
                </div>
                <div class="help-button">
                    <input type="submit" value="ENVIAR">
                </div>
        </form>
    </div>
</main>
<!-- Rodapé -->
<footer id="footer"></footer>
<script src="../src/js/headerANDfooter.js"></script>
<script src="../src/js/scriptCreate.js"></script>
</body>
</html>