<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../src/img/white_logo.PNG" type="image/x-icon">
    <title>EVENTOS | KAYA</title>
    <link rel="stylesheet" type="text/css" href="../src/css/global.css">
    <link rel="stylesheet" href="../src/css/local.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTuxEIxJkEayj1PQAvvB1qrg5B7GCDaqM&libraries=places"></script>
</head>
<body>
<header id="header">
    <!-- O conteúdo do cabeçalho será carregado aqui -->
</header>
<main>
    <div class="inner-title">
        <h2>PERTO DE VOCÊ</h2>
    </div>

    <!-- Conteúdo da página -->
    <div class="local-eve">
        <div class="eve-cat-card-container">
                <div class="eve-cat-card">
                    <div class="eve-cat-card-image">
                        <img src="https://via.placeholder.com/200x100" alt="Imagem do Card">
                        <span class="eve-cat-category-icon"></span>
                    </div>
                    <div class="eve-cat-card-content">
                        <div class="eve-cat-card-header">
                            <h3 class="eve-cat-card-title">Título do Card</h3>
                            <span class="eve-cat-card-time">10:00 AM</span>
                        </div>
                        <div class="eve-cat-card-location">
                            <i class="fas fa-map-marker-alt"></i>
                            <span id="" class="eve-cat-card-address">Endereço do Evento</span>
                        </div>
                        <a href="#" class="eve-cat-card-link">VER MAIS</a>
                    </div>
                </div>
                <div class="eve-cat-card">
                    <div class="eve-cat-card-image">
                        <img src="https://via.placeholder.com/200x100" alt="Imagem do Card">
                        <span class="eve-cat-category-icon"></span>
                    </div>
                    <div class="eve-cat-card-content">
                        <div class="eve-cat-card-header">
                            <h3 class="eve-cat-card-title">Título do Card</h3>
                            <span class="eve-cat-card-time">10:00 AM</span>
                        </div>
                        <div class="eve-cat-card-location">
                            <i class="fas fa-map-marker-alt"></i>
                            <span id="" class="eve-cat-card-address">Endereço do Evento</span>
                        </div>
                        <a href="#" class="eve-cat-card-link">VER MAIS</a>
                    </div>
                </div>
                <div class="eve-cat-card">
                    <div class="eve-cat-card-image">
                        <img src="https://via.placeholder.com/200x100" alt="Imagem do Card">
                        <span class="eve-cat-category-icon"></span>
                    </div>
                    <div class="eve-cat-card-content">
                        <div class="eve-cat-card-header">
                            <h3 class="eve-cat-card-title">Título do Card</h3>
                            <span class="eve-cat-card-time">10:00 AM</span>
                        </div>
                        <div class="eve-cat-card-location">
                            <i class="fas fa-map-marker-alt"></i>
                            <span id="" class="eve-cat-card-address">Endereço do Evento</span>
                        </div>
                        <a href="#" class="eve-cat-card-link">VER MAIS</a>
                    </div>
                </div>
                <!-- Repita os cards conforme necessário -->
        </div>
        <div class="map">
            <div class="map-title">
                <h2>LOCALIZE EVENTOS NO <br><orange>MAPA</orange></h2>
            </div>
            <br>
            <div class="map-data">
                <!--area do mapa-->
                <!--COMEÇO-->
                <div class="map-view">
                    <input id="pac-input" class="controls" type="text" placeholder="Pesquise o local" value="Joinville">
                    <div id="map"></div>
                </div>
                <div class="map-info">
                    <form action="">
                        <!-- Categoria, data e hora -->
                        <div class="map-info-line">
                            <select name="category" id="category" style="color: black" class="categorias">
                                <option value="" selected style="color: black">Categorias</option>
                                <option value="" style="color: black">Restaurantes</option>
                                <option value="" style="color: black">Bares</option>
                                <option value="" style="color: black">Shopping</option>
                            </select>
                            <input type="date" id="date" name="date">
                            <input type="time" name="hora" id="hora">
                        </div>
                        <!-- Preço e Idade -->
                        <div class="map-info-line">
                            <!-- Preço-->
                            <div class="map-money">
                                <div class="map-money-line">
                                    <input type="checkbox" name="money" id="money">
                                    <label for="money">Entrada Franca</label>
                                </div> 
                                <input type="text" name="money" id="money" placeholder="Valor">
                            </div>
                            <!-- Idade -->
                            <div class="map-age">
                                <div class="map-age-line">
                                    <input type="checkbox" name="age" id="age">
                                    <label for="age">Faixa Etária</label>
                                </div>
                                <div class="map-age-line">
                                    <input type="number" name="min" id="min" placeholder="min">
                                    <input type="number" name="max" id="max" placeholder="max">
                                </div>
                            </div>
                        </div>
                        <!-- Filtrar -->
                        <div class="map-filter-button">
                            <input type="submit" value="Filtrar" class="map-submit">
                        </div>
                    </form>
                </div>
                <!-- FIM DA AREA APAGADA-->
            </div>
        </div>
        
    </div>

</main>
<footer>
    <div class="footer">
        <div class="footer-logo">
            <img src="../src/img/white_logo.PNG" alt="KAYA" title="KAYA" width="80" height="80">
        </div>
        <div class="footer-list">
            <ul>
                <li class="footer-item"><a class="footer-link" href="#">INÍCIO</a></li>
                <li class="footer-item"><a class="footer-link" href="#">EVENTOS</a></li>
                <li class="footer-item"><a class="footer-link" href="#">CRIAR</a></li>
                <li class="footer-item"><a class="footer-link" href="#">PERFIL</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <ul>
                <li class="footer-item"><a class="footer-link" href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li class="footer-item"><a class="footer-link" href="#"><i class="fab fa-instagram"></i></a></li>
                <li class="footer-item"><a class="footer-link" href="#"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </div>
        <div class="footer-credits">
            <p>© 2024 KAYA. Todos os direitos reservados.</p>
        </div>
    </div>
</footer>
<script src="../src/js/scriptEvents.js"></script>
<script>
    fetch('template/headerView.html')
        .then(response => response.text())
        .then(html => {
            // Insira o conteúdo do cabeçalho no elemento com id "header"
            document.getElementById('header').innerHTML = html;
        })
        .catch(error => console.error('Erro ao carregar o cabeçalho:', error));
</script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        let hoje = new Date();
        let dia = String(hoje.getDate()).padStart(2, '0');
        let mes = String(hoje.getMonth() + 1).padStart(2, '0'); // Janeiro é 0!
        let ano = hoje.getFullYear();
        
        let dataAtual = `${ano}-${mes}-${dia}`;
        document.getElementById('date').value = dataAtual;
    });
</script>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8
        });

        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);

        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        map.addListener('bounds_changed', function() {
            searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        
        searchBox.addListener('places_changed', function() {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            markers.forEach(function(marker) {
                marker.setMap(null);
            });
            markers = [];

            var bounds = new google.maps.LatLngBounds();
            places.forEach(function(place) {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                }
                var icon = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                };

                markers.push(new google.maps.Marker({
                    map: map,
                    icon: icon,
                    title: place.name,
                    position: place.geometry.location
                }));

                if (place.geometry.viewport) {
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTuxEIxJkEayj1PQAvvB1qrg5B7GCDaqM&libraries=places&callback=initMap"></script>
</body>
</html>