<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../src/img/white_logo.PNG" type="image/x-icon">
        <title>Login Page</title>
        <link rel="stylesheet" type="text/css" href="../css/log.css">
        <link rel="stylesheet" type="text/css" href="../css/portcss/logcell.css">
        <link rel="stylesheet" type="text/css" href="../css/portcss/logmin.css">
    </head>
    <body>
        <div class="block">
            <img src="../src/img/white_logo.PNG" class="logo">
            <h3 class="tit">Seja Bem Vindo(a)!</h3>
            <form>
                <h4>Nome de Usuário</h4>
                <input type="text" placeholder="Nome de Usuário" class="log-inp">
                <h4>Sua Senha</h4>
                <input type="password" placeholder="Senha"><br>
                <a href="forgot.html"> Esqueceu sua senha? </a>
                <button>ENTRAR</button> <br>
                ou<br>
                <button>CADASTRAR</button>
            </form>
        </div>
    </body>
</html>