<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../src/img/white_logo.PNG" type="image/x-icon">
        <title>ENTRAR</title>
        <link rel="stylesheet" type="text/css" href="../src/css/global.css">
        <link rel="stylesheet" type="text/css" href="../src/css/log.css">
    </head>
    <body>
        <div class="container">
            <div class="block">
                <img src="../src/img/white_logo.PNG" class="logo">
                <h3 class="tit">Seja Bem Vindo(a)!</h3>
                <form>
                    <div class="form-input">
                        <!-- <label for="username">Nome de Usuário</label> -->
                        <input type="text" name="username" placeholder="Nome de Usuário" class="log-inp">    
                    </div>
                    <div class="form-input">
                        <!-- <label for="password">Sua Senha</label> -->
                        <input type="password" name="password" placeholder="Senha">
                        <div class="form-links">
                            <a id="fog" href="forgot.html"> Esqueceu a senha? <b>RECUPERE AGORA!</b></a>
                        </div>
                    </div> 
                    <input type="submit" value="ENTRAR">
                    <div class="form-links">
                        <a id="cad" href="register.html">Ainda não é do clube? <b>JUNTE-SE JÁ!</b></a>
                    </div>
                </form>
            </div>
        </div>
        <script src="../src/js/scriptLogin.js"></script>
    </body>
</html>