<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../src/img/white_logo.PNG" type="image/x-icon">
    <title>EVENTOS | KAYA</title>
    <link rel="stylesheet" type="text/css" href="../src/css/global.css">
    <link rel="stylesheet" href="../src/css/local.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
<header id="header">
    <!-- O conteúdo do cabeçalho será carregado aqui -->
</header>
<main>
    <!-- Título -->
    <div class="inner-title">
        <h2>Outros</h2>
    </div>

    <!-- Categorias -->
    <div id="categories"></div>

    <!-- Eventos -->
    <div class="event-content">
        <!-- Card 1 -->
        <div class="event-card">
            <a href="#">
                <div class="event-img">
                    <img src="../src/img/events/event08.jpg" alt="Imagem">
                    <span class="event-category" id="others">Outros</span>
                </div>
                <div class="event-info">
                    <div class="event-info-header">
                        <h3 class="event-title">Corrida Clube</h3>
                    </div>
                    <div class="event-location">
                        <i class="fas fa-map-marker-alt"></i>
                        <span id="" class="event-address">Parque do Orvalho - Xuxu (AB)</span>
                    </div>
                    <div class="event-info-footer">
                        <div class="event-f1">
                            <div class="event-f-l">
                                <i class="fas fa-calendar"></i>
                                <span class="event-date">03/08/2024</span>
                            </div>
                            <div class="event-f-l">
                                <i class="fas fa-clock"></i>
                                <span class="event-time">07:00h</span>
                            </div>
                        </div>
                        <div class="event-f2">
                            <i class="fas fa-ticket-alt"></i>
                            <span class="event-price">R$ 10,00</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- Card 2 -->
        <div class="event-card">
            <a href="#">
                <div class="event-img">
                    <img src="../src/img/events/eventtec.jpg" alt="Imagem">
                    <span class="event-category" id="others">Outros</span>
                </div>
                <div class="event-info">
                    <div class="event-info-header">
                        <h3 class="event-title">CURSO DE INFORMÁTICA</h3>
                    </div>
                    <div class="event-location">
                        <i class="fas fa-map-marker-alt"></i>
                        <span class="event-address">Faculdade Católica - Joinville (SC)</span>
                    </div>
                    <div class="event-info-footer">
                        <div class="event-f1">
                            <div class="event-f-l">
                                <i class="fas fa-calendar"></i>
                                <span class="event-date">22/06/2024</span>
                            </div>
                            <div class="event-f-l">
                                <i class="fas fa-clock"></i>
                                <span class="event-time">09:00h</span>
                            </div>
                        </div>
                        <div class="event-f2">
                            <i class="fas fa-ticket-alt"></i>
                            <span class="event-price">Grátis</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- Card 3 -->
        <div class="event-card">
            <a href="#">
                <div class="event-img">
                    <img src="../src/img/events/eventpet.jpg" alt="Imagem">
                    <span class="event-category" id="others">OUTROS</span>
                </div>
                <div class="event-info">
                    <div class="event-info-header">
                        <h3 class="event-title">Adote um Amigo! :)</h3>
                    </div>
                    <div class="event-location">
                        <i class="fas fa-map-marker-alt"></i>
                        <span class="event-address">Parque Bonitinho - Joinville (SC)</span>
                    </div>
                    <div class="event-info-footer">
                        <div class="event-f1">
                            <div class="event-f-l">
                                <i class="fas fa-calendar"></i>
                                <span class="event-date">09/07/2024</span>
                            </div>
                            <div class="event-f-l">
                                <i class="fas fa-clock"></i>
                                <span class="event-time">10:00h</span>
                            </div>
                        </div>
                        <div class="event-f2">
                            <i class="fas fa-ticket-alt"></i>
                            <span class="event-price">Grátis</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- Card 4 -->
        <div class="event-card">
            <a href="#">
                <div class="event-img">
                    <img src="../src/img/events/eventchoche.jpg" alt="Imagem">
                    <span class="event-category" id="others">OUTROS</span>
                </div>
                <div class="event-info">
                    <div class="event-info-header">
                        <h3 class="event-title">Curso de Crochê</h3>
                    </div>
                    <div class="event-location">
                        <i class="fas fa-map-marker-alt"></i>
                        <span class="event-address">Casa da Vó - Lalavila (AZ)</span>
                    </div>
                    <div class="event-info-footer">
                        <div class="event-f1">
                            <div class="event-f-l">
                                <i class="fas fa-calendar"></i>
                                <span class="event-date">20/07/2024</span>
                            </div>
                            <div class="event-f-l">
                                <i class="fas fa-clock"></i>
                                <span class="event-time">13:00h</span>
                            </div>
                        </div>
                        <div class="event-f2">
                            <i class="fas fa-ticket-alt"></i>
                            <span class="event-price">R$ 15,00</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</main>
<footer id="footer"></footer>
<script src="../src/js/headerANDfooter.js"></script>
<script src="../src/js/scriptCategories.js"></script>
</body>
</html>