<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../src/img/white_logo.PNG" type="image/x-icon">
    <title>EVENTOS | KAYA</title>
    <link rel="stylesheet" href="../src/css/global.css">
    <link rel="stylesheet" href="../src/css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
<header id="header">
    <!-- O conteúdo do cabeçalho será carregado aqui -->
</header>
<main>
    <div class="inner-title">
        <h2>PERFIL</h2>
    </div>

    <div class="profile">
        <div class="p-container">
            <div class="p-init-left">
                <div class="p-photo">
                    <img src="../src/img/profile.jpg" alt="profile" title="profile">
                    <button class="p-edit-button">
                        <i class="fas fa-edit"></i>
                    </button>
                </div>
                <div class="p-info">
                    <p class="p-name">Nome do Usuário</p>
                    <p class="username">@nome_do_usuário</p>
                </div>
            </div>
            <div class="p-init-right">
                <h2>INFORMAÇÕES PESSOAIS ADICIONAIS</h2>
                <form id="myForm" action="">
                    <div class="p-additional-info">
                        <div class="p-field">
                            <label for="cpf">CPF</label>
                            <input type="text" id="cpf" name="cpf" placeholder="000.000.000-00" maxlength="14">
                            <span class="error" id="cpfError"></span>    
                        </div>
                        <div class="p-field">
                            <label for="phone">Telefone</label>
                            <input type="text" id="phone" name="phone" placeholder="(00) 00000-0000" maxlength="15">
                            <span class="error" id="phoneError"></span>
                        </div>
                        <div class="p-field">
                            <label for="birth">Nascimento</label>
                            <input type="date" id="birth" name="birth">
                            <span class="error" id="birthError"></span>
                        </div>
                        <div class="p-field">
                            <label for="cep">CEP</label>
                            <input type="text" id="cep" name="cep" placeholder="00000-000" maxlength="9">
                            <span class="error" id="cepError"></span>
                        </div>
                        <div class="p-button-container">
                            <input type="submit" value="SALVAR" class="p-save-button">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Meus Eventos -->

    <!-- Eventos Salvos -->

</main>
<footer id="footer"></footer>
<script src="../src/js/scriptProfile.js"></script>
</body>
</html>
