/* GERAL */
*{
    margin: 0;
    padding: 0;
    color: white;
}

/* HEADER */
    header {
        background-color: #170C38;
    }
    .nav-bar {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 2rem;
    }
    .logo {
        display: flex;
        align-items: center;
    }
    .logo h1 {
        color: #fff;
    }
    .nav-list {
        display: flex;
        align-items: center;
    }
    .nav-list ul {
        display: flex;
        justify-content: center;
        list-style: none;
    }
    .nav-item {
        margin: 15px;
    }
    .nav-item:hover {
        color: #fff;
        text-decoration: underline;
    }
    .nav-link {
        text-decoration: none;
        font-size: 1.15rem;
        color: #fff;
        font-weight: 400;
        margin: 15px;
    }
    .login-button{
        display: flex;
        align-items: center;
    }
    .login-button button {
        border: none;
        padding: 10px 15px;
        border-radius: 0.5rem;
        background-color: #fff;
    }
    .login-button button a {
        text-decoration: none;
        color: #000;
        font-weight: 500;
        font-size: 1.1rem;
    }
    .mobile-menu-icon {
        display: none;
    }
    .mobile-menu {
        display: none;
    }

/* hEADER - MOBILE */
    @media screen and (max-width: 730px) {
        .nav-bar {
            padding: 1.5rem 2rem;
        }
        .nav-item {
            display: none;
        }
        .login-button {
            display: none;
        }
        .mobile-menu-icon {
            display: block;
        }
        .mobile-menu-icon button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        .mobile-menu ul {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-bottom: 1rem;
        }
        .mobile-menu .nav-item {
            display: block;
            padding-top: 1.2rem;
        }
        .mobile-menu .login-button {
            display: block;
            padding: 1rem 2rem;
        }
        .mobile-menu .login-button button {
            width: 100%;
        }
        .open {
            display: block;
        }
    }

/* BODY */
body {
    background-color: #3a1f93;
    height: 100vh;
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* MAIN */
    main {
        display: flex;
        height: 100vh;
        justify-content: center;
        padding: 2rem;
        /* align-items: center;
        justify-content: center; */
    }
/* MAIN - MOBILE */
    /* SLIDER */
        .slider{
            width: 800px;
            height: 400px;
            overflow: hidden;
        }
        .slides{
            width: 400%;
            height: 400px;
            display: flex;
        }
        .slides input{
            display: none;
        }
        .slide{
            width: 25%;
            position: relative;
            transition: 1s;
        }
        .slide img{
            width: 800px;
        }
        .manual-navigation{
            position: absolute;
            width: 800px;
            margin-top: -40px;
            display: flex;
            justify-content: center;
        }
        .manual-btn{
            border: 2px solid #fff;
            padding: 5px;
            cursor: pointer;
            border-radius: 0.5rem;
            transition: 0.5s;
        }
        .manual-btn:not(:last-child){
            margin-right: 10px;
        }
        .manual-btn:hover{
            background-color: #fff;
        }
        #radio1:checked ~ .first{
            margin-left: 0;
        }
        #radio2:checked ~ .first{
            margin-left: -25%;
        }
        #radio3:checked ~ .first{
            margin-left: -50%;
        }
        #radio4:checked ~ .first{
            margin-left: -75%;
        }
        .navigation-auto div{
            border: 2px solid #fff;
            padding: 5px;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: 0.5s;
        }
        .navigation-auto{
            position: absolute;
            width: 800px;
            margin-top: 360px;
            display: flex;
            justify-self: unset;
            justify-content: center;
        }
        .navigation-auto div:not(:last-child){
            margin-right: 10px;
        }
        #radio1:checked ~ .navigation-auto .auto-btn1{
            background-color: #fff;
        }
        #radio2:checked ~ .navigation-auto .auto-btn2{
            background-color: #fff;
        }
        #radio3:checked ~ .navigation-auto .auto-btn3{
            background-color: #fff;
        }
        #radio4:checked ~ .navigation-auto .auto-btn4{
            background-color: #fff;
        }
    
    /* SLIDER - MOBILE */
    /* OBS: Quando um botão radio é selecionado manualmente, ele fica branco para sempre
    até que o usuário clicque em outro, ocorrendo a mesma coisa*/
    @media screen and (max-width: 730px) {
        .slider{
            margin: 0 auto;
            margin-top: 25px;
            width: 90%;
            height: 300px;
            justify-content: center;
            
        }
        .slides{
            height: 300px;
        }
        .slide img{
            width: 100%;
            border-radius: 0.5rem;
        }
        .manual-navigation{
            width: 90%;
            margin-top: -120px;
            align-items: center;
        }
        .manual-btn{
            padding: 3px;
        }
        .navigation-auto{
            width: 90%;
            margin-top: 180px;
            align-items: center;
        }
        .navigation-auto div{
            padding: 3px;
        }

    }

/* FOOTER */
    .footer {
        background-color: #170C38;
        color: #fff;
        padding: 2rem 0;
        text-align: center;
    }
    .footer-logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-list {
        display: flex;
        justify-content: center;
        list-style: none;
        padding-top: 1rem;
    }
    .footer-list ul {
        display: flex;
        justify-content: center;
        list-style: none;
    }
    .footer-item {
        margin: 15px;
    }
    .footer-item:hover {
        color: #fff;
        text-decoration: underline;
    }
    .footer-link {
        text-decoration: none;
        font-size: 1.15rem;
        color: #fff;
        font-weight: 400;
        margin: 15px;
    }
    .footer-social {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
    }
    .footer-social ul {
        display: flex;
        justify-content: center;
        list-style: none;
    }
    .footer-social-item {
        margin: 15px;
    }
    .footer-social-item:hover {
        color: #fff;
        text-decoration: underline;
    }
    .footer-social-link {
        text-decoration: none;
        font-size: 1.15rem;
        color: #fff;
        font-weight: 400;
        margin: 15px;
    }
    .footer-credits {
        padding-top: 1rem;
    }
    .footer-credits p {
        font-size: 1rem;
        font-weight: 400;
        color: white;
    }
    /*FOOTER - MOBILE */
    @media screen and (max-width: 730px) {
        .footer-list {
            display: none;
        }
        .footer-social {
            display: none;
        }
        .footer-credits {
            display: none;
        }
    }