/* TITULO */
.inner-title {
    margin-top: 0;
}
.inner-title h2 {
    margin: 0 0 1.5rem 0;
}

/* Novo - Seção de eventos*/
.category-container {
    max-width: 800px;
    margin: 0 auto;
}
.category-container h2 {
    margin: 2rem 0 0 0;
}
.category-section {
    margin-bottom: 30px;
    position: relative; /* Para posicionamento dos botões */
}
.cards-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap; /* Garante que os cards fiquem em linha */
    overflow: hidden; /* Esconde o overflow para remover o scrollview */
}
.event-card{
    margin: 1.5rem 0.5rem 2.5rem 0.5rem;
}
.navigation-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
button.prev,
button.next {
    background-color: #170C38;
    color: white;
    border: none;
    border-radius: 50%;
    margin: 0 -2rem 0 -2rem;
    padding: 0.5rem 0.7rem;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bolder;
}
button.prev:hover,
button.next:hover {
background-color: #CC6820;
}

/* Estilos para mobile */
@media (max-width: 767px) {
  /* Esconde os botões de navegação na versão mobile */
  .navigation-buttons {
    display: none;
  }
}
















/* CONTENEDOR DE EVENTOS */
/* .eve-cat-container {
    width: 100%;
}

.eve-cat-container section {
    margin: 3.5rem 0;
    position: relative;
}

.eve-cat-container h2 {
    margin-bottom: 10px;
} */

/* Botões de Navegação */
/* .nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #170C38;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1;
}

.nav-button:hover {
    background-color: #2d225e;
}

.prev-button {
    left: -20px;
}

.next-button {
    right: -20px;
}

.eve-cat-card-container {
    display: flex;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: grab;
    scroll-behavior: smooth;
    padding: 0 40px;
}

.eve-cat-card-container.active {
    cursor: grabbing;
}

.eve-cat-card {
    flex: 0 0 auto;
    width: 250px;
    margin-right: 50px;
    background-color: #170C38;
    color: white;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.eve-cat-card:last-child {
    margin-right: 0;
}

.eve-cat-card-image {
    position: relative;
    width: 100%;
    height: 150px;
}

.eve-cat-card-image img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
}

.eve-cat-category-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 0.5rem;
    padding: 5px;
}

.eve-cat-category-icon i {
    font-style: none;
}

.eve-cat-card-content {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.eve-cat-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eve-cat-card-title {
    font-size: 1rem;
    margin: 0;
}

.eve-cat-card-time {
    font-size: 0.875rem;
}

.eve-cat-card-location {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.eve-cat-card-location i {
    margin-right: 5px;
}

.eve-cat-card-address {
    font-size: 0.875rem;
}

.eve-cat-card-link {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    color: #170C38;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.eve-cat-card-link:hover {
    background-color: #170C38;
    color: #fff;
} */
