    /* SLIDER */
    .slider{
        width: 800px;
        height: 400px;
        overflow: hidden;
    }
    .slides{
        width: 400%;
        height: 400px;
        display: flex;
    }
    .slides input{
        display: none;
    }
    .slide{
        width: 25%;
        position: relative;
        transition: 1s;
    }
    .slide img{
        width: 800px;
    }
    .manual-navigation{
        position: absolute;
        width: 800px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
    }
    .manual-btn{
        border: 2px solid #fff;
        padding: 5px;
        cursor: pointer;
        border-radius: 0.5rem;
        transition: 0.5s;
    }
    .manual-btn:not(:last-child){
        margin-right: 10px;
    }
    .manual-btn:hover{
        background-color: #fff;
    }
    #radio1:checked ~ .first{
        margin-left: 0;
    }
    #radio2:checked ~ .first{
        margin-left: -25%;
    }
    #radio3:checked ~ .first{
        margin-left: -50%;
    }
    #radio4:checked ~ .first{
        margin-left: -75%;
    }
    .navigation-auto div{
        border: 2px solid #fff;
        padding: 5px;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: 0.5s;
    }
    .navigation-auto{
        position: absolute;
        width: 800px;
        margin-top: 360px;
        display: flex;
        justify-self: unset;
        justify-content: center;
    }
    .navigation-auto div:not(:last-child){
        margin-right: 10px;
    }
    #radio1:checked ~ .navigation-auto .auto-btn1{
        background-color: #fff;
    }
    #radio2:checked ~ .navigation-auto .auto-btn2{
        background-color: #fff;
    }
    #radio3:checked ~ .navigation-auto .auto-btn3{
        background-color: #fff;
    }
    #radio4:checked ~ .navigation-auto .auto-btn4{
        background-color: #fff;
    }

    /* SLIDER - MOBILE */
    /* OBS: Quando um botão radio é selecionado manualmente, ele fica branco para sempre
    até que o usuário clicque em outro, ocorrendo a mesma coisa*/
        @media screen and (max-width: 730px) {
        .slider{
            margin: 0 auto;
            margin-top: 25px;
            width: 90%;
            height: 300px;
            justify-content: center;
        }
        .slides{
            height: 300px;
        }
        .slide img{
            width: 100%;
            border-radius: 0.5rem;
        }
        .manual-navigation{
            width: 90%;
            margin-top: -120px;
            align-items: center;
        }
        .manual-btn{
            padding: 5px;
        }
        .navigation-auto{
            width: 90%;
            margin-top: 180px;
            align-items: center;
        }
        .navigation-auto div{
            padding: 5px;
        }

    }

    /* PESQUISA */
    .mobile-search-button{
        display: none;
    }
    @media screen and (max-width: 800px){
        .mobile-search-button{
            display: block;
            margin: 0 auto;
            width: 70%;
            text-align: center;
            padding: 1.5rem;
        }
        .mobile-pes-container {
            display: flex;
            align-items: center;
            background-color: #fff;
            border-radius: 0.5rem;
            padding: 5px;
        }
        .mobile-search-button img {
            padding: 5px;
            width: 20px;
            height: 20px;
        }
        .mobile-search-button input {
            border: 0;
            padding: 0.5rem;
            color: black;
            font-weight: 500;
            font-size: 1rem;
            border-radius: 0.5rem;
            margin-left: 5px;
        }
        .mobile-search-button input:focus {
            outline: none;
        }
        .mobile-search-button input::placeholder {
            color: black;
            font-weight: 500;
        }
    }

    /* CATEGORIAS */
    .categories{
        display: flex;
        margin-top: 2rem;
        border-radius: 1rem;
        justify-content: center;
    }
    .categories-background{
        flex: 1;
        background-color: #170C38;
        justify-content: center;
        border-radius: 1rem;
        max-width: 600px;
        margin: 25px 0; /* 25px top and bottom */
    }
    .categories .categories-title{
        flex: 1;
        font-weight: 500;
        text-align: center;
        padding: 1rem; /* 1.7rem top and bottom */
    }
    .categories .categories-title orange{
        color: #CC6820;
    }
    .categories-title h2{
        font-size: 1.3rem;
    }
    .cat-cards{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1rem;
    }
    .cat-card{
        flex: 1;
        flex-direction: row;
        align-items: center;
        border-radius: 1rem;
    }
    .cat-card h2{
        font-size: 0.8rem;
        margin-top: 5px;
    }
    .cat-img{
        padding: 0.5rem;
        border-radius: 50%;
        background-color: #CC6820;
        width: 45px;
        height: 45px;
        align-content: center;
        align-self: center;
        margin: auto;
    }
    .cat-card:hover .cat-img{
        transform: translateY(-5px);
        transition: 0.5s;
        box-shadow: 0px 0px 30px #000000; /* 3px right, 3px down, 3px blur */
        cursor: pointer;
    }
    .cat-img img{
        width: 35px;
        height: 35px;
    }
    .cat-card a{
        text-decoration: none;
        color: #fff;
        text-align: center;
        align-content: center;
    }
    .cat-card:hover h2{
        transform: translateY(-5px);
        transition: 0.5s;
        text-shadow: 0px 0px 30px #000000; /* 3px right, 3px down, 3px blur */
        cursor: pointer;
    }

    /* CATEGORIAS - MOBILE */
    @media screen and (max-width: 730px){
        /* do for me copilot please */
        .categories{
            display: block;
            justify-content: center;
        }
        .categories-background{
            background-color: #170C38;
            display: block;
            align-items: center;
            justify-content: center;
            width: 100%;
            border-radius: 0;
            max-width: 200vh;
        }
        .categories .categories-title{
            display: flex;
            font-size: 1rem;
            font-weight: 500;
            align-self: flex-start;
            justify-content: center;
            text-align: center;
        }
        .categories .categories-title orange{
            color: #CC6820;
        }
        .cat-cards{
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0;
        }
        .cat-card{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 0.5rem;
            width: 4rem;
            height: 4rem;
            margin-bottom: 15px;
        }
        .cat-img{
            padding: 1.0rem;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            background-color: #CC6820;
            align-items: center;
        }
        .cat-img img{
            width: 25px;
            height: 25px;
        }
        .cat-card h2{
            margin-top: 0.5rem;
            font-size: 17px;
            text-align: center;
        }
        .cat-card a{
            text-decoration: none;
            color: #fff;
            text-align: center;
        }
    }
    @media screen and (max-width: 400px) {
        .categories .categories-title{
            
        }
        .cat-img{
            padding: 0.7rem;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            background-color: #CC6820;
            align-items: center;
        }
        .cat-img img{
            width: 20px;
            height: 20px;
        }
        .cat-card h2{
            margin-top: 0.5rem;
            font-size: 15px;
            text-align: center;
        }
    }

    /* Eventos */
    .event-content{
        padding: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1200px;
        margin: auto;
    }
    .event-content a{
        text-decoration: none;
    }
    .event-card{
        width: 250px;
        background-color: #170C38;
        border-radius: 0.5rem;
        margin: 60px 30px 0 30px;
    }
    .event-card:hover{
        transform: translateY(-5px);
        transition: 0.5s;
        box-shadow: 0px 0px 30px #000000; /* 3px right, 3px down, 3px blur */
        cursor: pointer;
    }
    .event-img{
        width: 250px;
        height: 125px;
        border-radius: 0.5rem;;
    }
    .event-info{
        padding: 0.7rem;
    }
    .event-info h2{
        font-size: 1.2rem;
        margin-top: 5px;
    }
    .event-cat{
        font-size: 0.8rem;
        margin: 5px 0; /* 5px top and bottom */
        padding: 0.2rem 0.5rem;
        border-radius: 0.5rem;
        width: fit-content;
    }
    .event-cat a{
        color: white;
        text-shadow: 0px 0px 5px #000; /* 3px right, 3px down, 3px blur */
        font-weight: bold;
    }
    .event-local img{
        width: 13px;
        height: 13px;
    }
    .event-local orange{
        color: #CC6820
    }