/* TITULO */
.inner-title {
    margin-top: 0;
}
.inner-title h2 {
    margin: 0 0 1.5rem 0;
}

/* Novo - Seção de eventos*/
.category-container {
    max-width: 800px;
    margin: 0 auto;
    height: fit-content;
}
.category-section h2 {
    margin: 3rem 0 0 0;
    background-color: #170C38;
    padding: 0.5rem 1.0rem;
    border-radius: 0.5rem;
    width: fit-content;
}
.category-section {
    position: relative; /* Para posicionamento dos botões */
}
.cards-container {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: nowrap; /* Garante que os cards fiquem em linha */
    overflow: hidden;
}
.event-card{
    margin: 1.5rem 0.5rem 0.5rem 0.5rem;
}
.navigation-buttons {
    position: absolute;
    top: 170px;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
button.prev, button.next {
    background-color: #170C38;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 -2rem 0 -2rem;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bolder;
}
button.prev:hover, button.next:hover {
    background-color: #CC6820;
}
.cards-container::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem no Chrome, Safari e Opera */
}
/* Estilos para mobile */
@media (max-width: 767px) {
  /* Esconde os botões de navegação na versão mobile */
  .navigation-buttons {
    display: none;
  }
}