/* GERAL */
*{
    margin: 0;
    padding: 0;
    color: white;
}
.clean{
    clear: both;
}
a{
    text-decoration: none;
}
.error{
    color: #ff3845;
    font-size: 13px;
    font-weight: bold;
}

/* CRIADOS */
orange{
    color:#CC6820
}

/* HEADER */
    header {
        background-color: #170C38;
    }
    .nav-Bares {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 25px;
        height: 70px;
    }
    .logo {
        display: flex;
        align-items: center;
    }
    .logo img {
        width: 60px;
        height: 60px;
    }
    .logo h2 {
        color: #fff;
    }
    .nav-list {
        display: flex;
        align-items: center;
        flex-grow: 1;
        margin-left: 25px;
    }
    .nav-list ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .nav-item {
        padding: 5px 15px;
    }
    .nav-item:hover {
        transform: translateY(-3px);
        transition: 0.5s;
        background-color: #CC6820;
        border-radius: 0.5rem;
        cursor: pointer;
    }
    .nav-link {
        text-decoration: none;
        font-size: 1.15rem;
        color: #fff;
        font-weight: 400;
    }
    .nav-pes {
        display: flex;
        align-items: center;
    }
    .nav-pes-container {
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 0.5rem;
        padding: 5px;
    }
    .nav-pes-container:hover {
        transform: translateY(-2px);
        transition: 0.5s;
        box-shadow: 0px 0px 30px #000000;
    }
    .nav-pes img {
        padding: 5px;
        width: 20px;
        height: 20px;
    }
    .nav-pes input {
        border: 0;
        padding: 0.5rem;
        color: black;
        font-weight: 500;
        font-size: 1rem;
        border-radius: 0.5rem;
        margin-left: 5px;
    }
    .nav-pes input:focus {
        outline: none;
    }
    .lr-button {
        display: flex;
        align-items: center;
    }
    .lr-button button {
        border: none;
        padding: 10px 15px;
        border-radius: 0.5rem;
        background-color: #fff;
    }
    .lr-button button a {
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        font-size: 1rem;
    }
    .mobile-menu-icon {
        display: none;
        margin: auto 0;
    }
    .mobile-menu {
        display: none;
    }
    /* hEADER - MOBILE */
        @media screen and (max-width: 800px) {
            /* .nav-Bares {
                padding: 1.5rem 2rem;
            } */
            .nav-item {
                display: none;
            }
            .nav-item:hover {
                color: #fff;
                text-decoration: none;
                background-color: #CC6820;
                border-radius: 0.5rem;
            }
            .nav-pes{
                display: none;
            }
            .login-button {
                display: none;
            }
            .mobile-menu-icon {
                display: block;
            }
            .mobile-menu-icon button {
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
            .mobile-menu ul {
                display: flex;
                flex-direction: column;
                text-align: left;
            }
            .mobile-menu .nav-item {
                display: block;
                padding: 1rem 2rem;
                border-bottom: #fff 2px solid;
            }
            .mobile-menu .nav-item:first-of-type{
                border-top: #fff 2px solid;
                margin: /*top right bottom left*/ 20px 0 0 0;
            }
            .mobile-menu .nav-item:hover {
                color: #fff;
                text-decoration: none;
                background-color: #CC6820;
                border-radius: 0;
            }
            .mobile-menu .nav-pes {
                display: block;
                padding: 1.5rem 2rem 0.75rem 2rem; /* top right bottom left */
            }
            .mobile-menu .nav-pes img {
                padding: 5px;
            }
            .lr-msg{
                display: flex;
                justify-content: center;
                text-align: center;
                padding: 1.5rem 0 0.5rem 0;
                font-weight: 500;
            }
            .lr-msg h2{
                font-size: 1rem;
                flex-wrap: wrap;
                max-width: 300px;
            }
            .lr-msg-or{
                display: flex;
                justify-content: center;
                text-align: center;
                padding: 0.5rem;
                font-weight: 500;
            }
            .lr-msg-or h2{
                font-size: 1rem;
            }
            .mobile-menu .lr-button{
                display: block;
                padding: 0.5rem 2rem 0.5rem 2rem; /* top right bottom left */
            }
            .mobile-menu .lr-button:last-of-type{
                padding: 0.5rem 2rem 1.5rem 2rem; /* top right bottom left */
            }
            .mobile-menu .lr-button button {
                width: 100%;
                background-color: #CC6820;
            }
            .mobile-menu .lr-button button a {
                color: #fff;
                font-weight: bold;
            }
            .open {
                display: block;
            }
        }

/* BODY */
body {
    background-color: #3a1f93;
    height: 100vh;
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* MAIN */
main {
    justify-content: center;
    padding: 2rem;
}
@media screen and (max-width: 730px){
    main{
        padding: 0;
    }
}
    /* TITULO */
    .inner-title{
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
    }
    .inner-title h2{
        font-size: 40px;
        text-align: center;
        padding: 0.5rem; /* top right bottom left */
        border-bottom: solid orange 5px;
    }
    @media screen and (max-width: 730px) {
        .inner-title{
            padding: 0.5rem 0.5rem 1.5rem 0.5rem; /* top right bottom left */
            display: flex;
            justify-content: center;
        }
        .inner-title h2{
            font-size: 40px;
            text-align: center;
            padding: 0.25rem;
            border-bottom: solid orange 5px;
        }
        
    }

    input{
        border: 0;
        padding: 0.5rem;
        color: black;
        font-weight: 500;
        border-radius: 0.5rem;
    }
    input:focus{
        outline: none;
    }
    input::placeholder{
        color:#000;
    }

    /* CATEGORIAS */
    .categories{
        display: flex;
        border-radius: 1rem;
        justify-content: center;
    }
    .categories-background{
        flex: 1;
        background-color: #170C38;
        justify-content: center;
        border-radius: 1rem;
        max-width: 600px; /* 25px top and bottom */
    }
    .categories .categories-title{
        flex: 1;
        font-weight: 500;
        text-align: center;
        padding: 1rem 0 0 0; /* 1.7rem top and bottom */
    }
    .categories .categories-title orange{
        color: #CC6820;
    }
    .categories-title h2{
        font-size: 1.3rem;
    }
    .cat-cards{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1rem;
    }
    .cat-card{
        flex: 1;
        flex-direction: row;
        align-items: center;
        border-radius: 1rem;
    }
    .cat-card h2{
        font-size: 0.8rem;
        margin-top: 5px;
    }
    .cat-img{
        padding: 0.5rem;
        border-radius: 50%;
        background-color: #CC6820;
        width: 45px;
        height: 45px;
        align-content: center;
        align-self: center;
        margin: auto;
    }
    .cat-card:hover .cat-img{
        transform: translateY(-5px);
        transition: 0.5s;
        box-shadow: 0px 0px 30px #000000; /* 3px right, 3px down, 3px blur */
        cursor: pointer;
    }
    .cat-img img{
        width: 35px;
        height: 35px;
    }
    .cat-card a{
        text-decoration: none;
        color: #fff;
        text-align: center;
        align-content: center;
    }
    .cat-card:hover h2{
        transform: translateY(-5px);
        transition: 0.5s;
        text-shadow: 0px 0px 30px #000000; /* 3px right, 3px down, 3px blur */
        cursor: pointer;
    }

    /* CATEGORIAS - MOBILE */
    @media screen and (max-width: 730px){
        /* do for me copilot please */
        .categories{
            display: block;
            justify-content: center;
        }
        .categories-background{
            background-color: #170C38;
            display: block;
            align-items: center;
            justify-content: center;
            width: 100%;
            border-radius: 0;
            max-width: 200vh;
        }
        .categories .categories-title{
            display: flex;
            font-size: 1rem;
            font-weight: 500;
            align-self: flex-start;
            justify-content: center;
            text-align: center;
        }
        .categories .categories-title orange{
            color: #CC6820;
        }
        .cat-cards{
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 1rem 0 0 0;
        }
        .cat-card{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 0.5rem;
            width: 4rem;
            height: 4rem;
            margin-bottom: 15px;
        }
        .cat-img{
            padding: 1.0rem;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            background-color: #CC6820;
            align-items: center;
        }
        .cat-img img{
            width: 25px;
            height: 25px;
        }
        .cat-card h2{
            margin-top: 0.5rem;
            font-size: 17px;
            text-align: center;
        }
        .cat-card a{
            text-decoration: none;
            color: #fff;
            text-align: center;
        }
    }
    @media screen and (max-width: 400px) {
        /* .categories .categories-title{
            
        } */
        .cat-img{
            padding: 0.7rem;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            background-color: #CC6820;
            align-items: center;
        }
        .cat-img img{
            width: 20px;
            height: 20px;
        }
        .cat-card h2{
            margin-top: 0.5rem;
            font-size: 13px;
            text-align: center;
        }
    }

    /* Eventos */
    .event-content{
        padding: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1000px;
        margin: 1rem auto;
    }
    .event-card{
        width: 250px;
        background-color: #170C38;
        border-radius: 0.5rem;
        margin: 1.5rem 1.5rem 2.5rem 1.5rem; /* top right bottom left */
    }
    .event-card:hover{
        transform: translateY(-5px);
        transition: 0.5s;
        box-shadow: 0px 0px 20px #000; /* 3px right, 3px down, 3px blur */
        cursor: pointer;
    }
    .event-content a{
        text-decoration: none;
    }
    .event-card i{
        color: #CC6820;
    }
    .event-img{
        position: relative;
        width: 100%;
    }
    .event-img img{
        width: 250px;
        height: 125px;
        border-radius: 0.5rem;
        object-fit: cover;
    }
    .event-category{
        position: absolute;
        top: 5px;
        right: 5px;
        border-radius: 0.5rem;
        padding: 5px;
        font-size: 12px;
        font-weight: bolder;
    }
    .event-category i{
        font-style: none;
    }
    .event-info{
        padding: 0.7rem;
    }
    .event-info-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .event-title{
        font-size: 16px;
        margin: 0;
    }
    .event-location{
        display: flex;
        align-items: center;
        margin: 0.3rem 0 0 0;
    }
    .event-location i{
        margin-right: 5px;
        color: #CC6820;
    }
    .event-address{
        font-size: 12px;
        margin: 0;
        font-weight: bold;
    }
    .event-info-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
    }
    .event-f1, .event-f2{
        display: flex;
        flex-direction: column;
        font-size: 12px;
        margin: 0;
        font-weight: bold;
    }
    .event-f2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;
    }
    .event-content i{
        text-align: center;
        min-height: 16px;
        min-width: 16px;
        max-width: 20px;
        max-height: 20px;
        color: #CC6820;
        border-radius: 50%;
    }
    .event-f-l:not(:last-child){
        margin-bottom: 0.25rem;
    }

    @media screen and (max-width: 768px){
        .event-card:last-child{
            margin-bottom: 50px; /* Adiciona espaçamento ao último card antes do footer*/
        }
    }

    /* Eventos - id */
    #beer{
        background-color: #B99200;
        content: "Bars";
    }
    #show{
        background-color: #8B1766;
        content: "Show";
    }
    #ferias{
        background-color: #13B900;
        content: "FÉRIAS";
    }
    #food{
        background-color: #FF4233;
        content: "FOOD";
    }
    #sport{
        background-color: #0093B9;
        content: "SPORT";
    }
    #music{
        background-color: #8D00B9;
        content: "MUSIC";
    }
    #children{
        background-color: #D3269C;
        content: "CHILDREN";
    }
    #moda{
        background-color: #7776BA;
        content: "MODA";
    }
    #outros{
        background-color: #CC6820;
        content: "OUTROS";
    }

/* FOOTER */
    .footer {
        background-color: #170C38;
        color: #fff;
        padding: 2rem;
        display: flex;
        justify-content: space-between;
    }
    .footer h3{
        margin: 0 0 0.5rem 0;
        color: #CC6820;
    }
    .footer ul {
        list-style: none;
    }
    .footer-logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-left, .footer-right{
        width: 190px;
    }
    .footer-right{
        text-align: right;
    }
    .footer-right a{
        margin: 0 0 0 0.5rem; /* top right bottom left */
    }
    footer a:hover{
        color: #CC6820;
        font-weight: bold;
    }
     
    /*FOOTER - MOBILE */
    @media screen and (max-width: 730px) {
        .footer{
            padding: 1rem 0.5rem;
            min-width: 350px;
        }
        .footer ul{
            font-size: 10px;
        }
        .footer h3{
            font-size: 12px;
        }
        .footer-right, .footer-left{
            width: 100%;
        }
        .footer-logo{
            margin: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .footer-logo img{
            width: 50px;
            height: 50px;
        }
        .footer-logo a{
            margin: 0.25rem;
            font-size: 10px;
        }
    }