/* TITULO */
.inner-title {
    margin-top: 0;
}
.inner-title h2 {
    margin: 0 0 1.5rem 0;
}





/* Mapa */
.map{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #170C38;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
    width: fit-content;
    max-width: 800px;
}

/* Inputs - GLOBAL */
input{
    color: #000;
    padding: 0.5rem;
    margin: 0 0.5rem 0 0;
    width: 100%;
    border-radius: 0.5rem;
    font-size: 15px;
}
input::placeholder{
    color: #000;
}
input[type="checkbox"]{
    width: 1.5rem;
}
input[type="checkbox"]:active{
    background-color: orange;
    color: #fff;
}
label{
    font-weight: bolder;
}

.map-title{ /* Título do container */
    text-align: center;
    margin: 0 0 2rem 0;
}
.map-data{ /* Dados do container */
    display: flex;
    flex-direction: row;
}

/* Container API - GOOGLE MAPS */
#map{ /* ID da API - Google Maps*/
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 0.5rem;
}
.map-view{
    width: 500px;
    height: 300px;
    font: #000;
    margin: 0 1rem 0 0;
}
#pac-input {
    margin: 0.5rem;
    padding: 10px;
    border-radius: 0.5rem;
    color: #000;
    width: min-content;
}
.gmnoprint, .gm-style-mtc, .gm-fullscreen-control, .gm-style-cc, .gm-style-cc-on, .gm-style-cc-off, .gm-style-mtc, .gm-style-mtc-label, .gm-style-mtc-drag, .gm-style-mtc-drag-dragged, .gm-style-mtc-dragging, .gm-style-mtc-h, .gm-style-mtc-v, .gm-style-mtc-dragging, .gm-style-mtc-drag-dragged{
    display: none !important; /* Remove botões do display */
}

/* Container de Informações */
.map-info{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    min-height: max-content;
}
.map-info-line{
    margin: /* faça apenas no lado esquerdo  e embaixo*/ 0 0 2rem 1rem;
    display: flex;
    width: 98%;
}

/* Linha 1 */
.map-info-line select{
    width: 33%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 15px;
    margin: 0 0.5rem 0 0;
}
input[type="date"]{
    width: 33%;
    border-radius: 0.5rem;
    font-size: 15px;
}
input[type="time"]{
    width: 33%;
    border-radius: 0.5rem;
    font-size: 15px;
}

/* Linha 2 */
.map-money{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.5rem 0;
}
.map-money-line{
    display: flex;
    flex-direction: row;
}
.map-label-line{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.map-money input[type="text"]{
    margin: 1rem 0.5rem 0 0;
    width: fit-content;
    padding: 0.5rem;
}
.map-age{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.5rem 0;
}
.map-age-line{
    display: flex;
    flex-direction: row;
    max-width: 100%;
}
.map-age-line input[type="number"]{
    margin: 1rem 0.5rem 0.5rem 0;
    width: 100%;
}

/* Linha 3 */
.map-info-line input[type="submit"]{
    margin: 3.75rem 0 0 0;
    background-color: #494;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
}
@media screen and (max-width: 900px){
    .map{
        margin: 0 auto 2rem;
    }
    .map-data{ /* Dados do container */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .map-view{
        width: 100%;
        min-height: 300px;
        height: 300px;
        font: #000;
        margin: 0 0 2rem 0;
    }
    .map-info{
        min-width: 390px;
    }
    .map-info-line{
        margin: /* faça apenas no lado esquerdo  e embaixo*/ 0 0 2rem 0;
        display: flex;
        width: 100%;
        padding: 0;
    }
    select, input[type="date"]{
        flex: 1;
    }
    input[type="time"]{
        flex: 1;
        margin: 0;
    }
    .map-money, .map-age{
        margin: 0;
        padding: 0;
    }
    .map-age input[type="number"]{
        flex: 1;
        margin: 1rem 0 0.5rem 0;
    }
    .map-age input[type="number"]:first-of-type{
        margin: 1rem 0.5rem 0.5rem 0;
    }
    .map-info input[type="submit"]{
        margin: 0;
    }
}
@media screen and (max-width: 600px){
    .map{
        padding: 2rem  0 0 0;
        width: 100%;
        border-radius: 0;
        margin: 0;
    }
    .map-title{
        margin: 0 0 1rem 0;
    }
    .map-view{
        max-width: 300px;
        max-height: 100px;
        font: #000;
        margin: 0 0 1rem 0;
    }
    .map-info{
        display: flex;
        align-items: center;
    }
    label{
        font-size: 12px;
    }
    select, option{
        max-width: 100px;
        height: 20px;
    }
    input:not([type="submit"], [type="checkbox"]){
        width: 100px;
        height: 20px;
        font-size: 12px;
    }
    .map-money input[type="text"]{
        max-width: 120px;
    }
    input[type="number"]{
        max-width: 50px;
    }
    input[type="date"]{
        font-size: 12px;
        max-width: 90px;
    }
    input[type="time"]{
        font-size: 12px;
        max-width: 50px;
        text-align: center;
    }
}








.categorias{
    height: 40px;
    padding: auto;
    width: 150px;
}