.container {
    max-width: 940px;
    margin: 0 auto;
    background-color: aquamarine;
}

.category-section {
    margin-bottom: 30px;
    position: relative; /* Para posicionamento dos botões */
    background-color: #CC6820;
}

.cards-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap; /* Garante que os cards fiquem em linha */
    overflow: hidden; /* Esconde o overflow para remover o scrollview */
}
.event-card:first-child {
    margin: 1.5rem 1.5rem 2.5rem 3rem;
}
.event-card:last-child {
    margin: 1.5rem 3rem 2.5rem 1.5rem;
}


.navigation-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button.prev,
button.next {
    background-color: #170C38;
    color: white;
    border: none;
    border-radius: 50%;
    margin: 0 -1.5rem 0 -1.5rem;
    padding: 0.5rem 0.7rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.prev:hover,
button.next:hover {
    background-color: #0056b3;
}

/* Estilos para mobile */
@media (max-width: 767px) {
    .cards-container {
        overflow-x: auto; /* Scroll horizontal para versão mobile */
        scroll-snap-type: x mandatory; /* Scroll "snap" para facilitar a navegação */
        -webkit-overflow-scrolling: touch; /* Scroll suave no iOS */
    }

    .event-card {
        flex: 0 0 100%; /* Mostra apenas um card por linha */
        padding: 10px;
        text-align: center;
        scroll-snap-align: start; /* Alinha cards ao início do scroll */
        box-sizing: border-box; /* Inclui padding no cálculo de largura */
    }

    /* Esconde os botões de navegação na versão mobile */
    .navigation-buttons {
        display: none;
    }
}
